.confirmation-page {
  margin: 0 auto;
  text-align: center;

  p:nth-child(1) {
    margin-bottom: 0;
  }

  a {
    width: 80%;
    margin: 0 auto;
    cursor: pointer;

    img {
      width: 90%;
    }
  }
}

.expect-shoes-box {
  h1 {
    width: 80%;
    margin: 0 auto;
  }
  div {
    margin: 27px auto;
    border: solid 1px #000000;
    width: 20%;
  }
  padding: 40px 20px;
  background-color: #f5f5f5;
  box-shadow: -8px 8px 0 0 #eaeaea;
  margin: 64px 0 48px;
}
.confirmation-page > img {
  width: 50%;
  margin: 32px 0;
}

// .confirmation-page {
//   .img-container {
//     width: 100%;
//
//   }
//   .img-wrapper {
//     padding-bottom: 30%;
//
//   }
//   .img-src {
//     background:url('./continueShopping-mobile.png') no-repeat center;
//     background-size:cover;
//     position: absolute;
//     top: 0; bottom: 0; left: 0; right: 0;
//   }
// }




@media only screen and (min-width: 576px) {
  .confirmation-page {
    width: 80%;
  }
  .confirmation-page > img {
    width: 20%;

  }
  .expect-shoes-box {
    padding: 30px;
    width: 60%;
    margin: 64px auto 48px;
  }

}
