.user-info-page {
  h1 {
  }

  input {
    border: solid 1px #bbbbbb;
    width: 95%;
    margin-bottom: 8px;
  }

  button {
    width: 80%;
    display: block;
    background: #000;
    color: #fff;
    margin-top: 26px;
  }


}
@media only screen and (min-width: 576px) {
  .user-info-page {
    input {
      padding: 20px;
    }
    button {
      margin: 30px auto 0;
      padding: 30px;
    }
  }

}

@media only screen and (min-width: 1024px) {
  .user-info-page {
    width: 80%;
    margin: 0 auto;

  }

}
