.selected-shoe {
  padding: 32px 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #000000;
  margin-bottom: 42px;
  img {
    width: 100%;
    margin-bottom: 16px;
  }

  h6 {
    margin: 0 0 2px;
    font-size: 0.875rem;
  }
  h5 {
    margin: 0;
    font-size: 0.625rem;
    line-height: 1.4;
    letter-spacing: 0.3px;
    font-weight: bold;
  }
}

.page-2-repairs {
  position: relative;
  z-index: 0;
}
.help {
  position: absolute;
  z-index: 100;
}

.page-2-repairs > p {
  font-style: italic;
  text-align: center;
}

.checkboxes, .help-popup {
  padding-left: 20%;
}

.help-popup {
  margin-bottom: 36px;
  a {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
}

.checkbox {
  margin-bottom: 12px;
  p {
    display: inline-block;
    margin: 0 0 0 16px;
    vertical-align: bottom;
    line-height: 1.2;
  }
}
.checkbox > div {
  vertical-align: bottom;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  // box-sizing: border-box;
}

.checked {
  background: black;
}
.hidden {
  display: none;
}

.checkboxes.error .checkbox > div {
  border: 1px solid red;
}
.checkboxes.no-error .checkbox > div {
  border: 1px solid black;
}

button.repair-page-next {
  display: block;
  background: #000;
  color: #fff;
  margin: 0 auto;
  min-width: 90px;
  padding: 16px 0;
  width: 120px;

  &:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
  }
}

.text {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  h4 {
    margin: 0 auto 15px;
    text-transform: uppercase;
  }
  p {
    font-size: .625rem;
    margin: 0 0 .5rem;
  }
}
.help {
  position: absolute;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #000000;
  padding: 20px;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  bottom: 20%;
  max-width: 240px;


  .exit-help-box {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    img {
      width: 100%;
      cursor: pointer;
    }

  }
}

@media only screen and (min-width: 1024px) {
  button.repair-page-next {
    padding: 12px 28px;
    width: 140px;

  }
  .checkboxes, .help-popup {
    padding-left: 30%;
  }

  .help-popup a {
    font-size: .74rem;
  }

  .help {
    width: 60%;
    padding: 30px;
  }
}
