.selected-shoe {
  padding: 32px 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #000000;
  img {
    width: 100%;
    margin-bottom: 16px;
  }

  h6 {
    margin: 0 0 2px;
    font-size: 0.875rem;
  }
  h5 {
    margin: 0;
    font-size: 0.625rem;
    line-height: 1.4;
    letter-spacing: 0.3px;
    font-weight: bold;
  }
}

.page-2-repairs > p {
  font-style: italic;
  text-align: center;
}

.checkboxes, .help-popup {
  width: 80%;
  margin: 0 auto;
}
.help-popup {
  margin-bottom: 64px;
  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.checkbox {
  margin-bottom: 12px;
  p {
    display: inline-block;
    margin: 0 0 0 16px;
    vertical-align: bottom;
  }
}
.checkbox > div {
  vertical-align: bottom;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
}

.checked {
  background: black;
}
.hidden {
  display: none;
}

button {
  width: 80%;
  display: block;
  background: #000;
  color: #fff;
}
